# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Define Charset, NewLine.
[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true


# Define Indention setting for Java and gradle files.
[*.{java,gradle}]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true
